@import './variables.css';

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
    width: 100%;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    font-family: inherit;
    padding: 0;
}

input,
textarea {
    font-family: inherit;
    background: none;
    border: none;
    outline: none;
    color: inherit;
}

::placeholder {
    color: var(--text-tertiary);
}